@keyframes fade-out{
  1%{
    transform: scale(.1);
    opacity: .5;
  }
  50%{
    transform: scale(1.2);
    opacity: .8;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes opacity{
  1%{
    opacity: 0;
  }
  50%{
    opacity: .8;
  }
  100%{
    opacity: 1;
  }
}

.fade-out{
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.opacity{
  animation-name: opacity;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}