@media screen and (max-width: 900px){
  html{
    font-size: 14px;
  }

  #content{
    max-width: 600px;
    width: 500px;

    padding: 5px 10px;
  }

  #content #board{
    width: 480px;
  }

  #content .functions{
    margin-top: 10px;
    padding: 5px 10px;

  }

  #content .functions div{
    width: 40px;
    height: 40px;
  }

  .content{
    width: inherit;
    height: 150px;
  }
}


